body {
    padding: 0;
    margin: 0;
    background: #000;
}

#unity-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    background: #231F20;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-logo {
    width: 154px;
    height: 140px;
    background: url('unity-logo-dark.png') no-repeat center;
    margin: 0 auto;
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

#unity-footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#unity-logo-title-footer {
    width: 204px;
    height: 65px;
    margin: 0 auto;
    background: url('unity-logo-title-footer.png') no-repeat center;
}

#unity-fullscreen-button {
    width: 38px;
    height: 38px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url('fullscreen-button.png') no-repeat center;
}

#unity-build-title {
    color: #fff;
    font-family: arial;
    font-size: 18px;
    margin-top: 10px;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

.unity-mobile {
    width: 100%;
    height: 100%;
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
}
